@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Supplier Registration System (C# Test Project with StackFront)

        The Supplier Registration System is a C# test project designed to demonstrate the implementation of supplier registers. It serves as a practical application for testing various C# concepts and StackFront technologies.

        The system allows users to perform CRUD operations on supplier records, providing essential functionalities such as adding new suppliers, updating existing information, deleting suppliers, and retrieving supplier details.

        This project showcases best practices in C# development and utilizes the StackFront framework for building the user interface. It aims to demonstrate clean and efficient code, following industry standards and guidelines.

        By exploring this Supplier Registration System, developers can gain insights into C# programming techniques, web application development, and the integration of frontend technologies.

        Note: This project is intended for testing purposes and serves as a learning tool for C# enthusiasts and developers looking to enhance their skills in stack-based frontend development.
    </p>
</div>


<div class="iframe-container">
    <iframe src="https://giphy.com/embed/qgQUggAC3Pfv687qPC" class="iframe"></iframe>
    <iframe src="https://giphy.com/embed/L1R1tvI9svkIWwpVYr" class="iframe"></iframe>
</div>